body{
    height: 100%;
}
video{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    z-index: 1;
}
div{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 720px;
    height: 250px;
    margin-top: 200px;
    text-align: center;
    background-color: blanchedalmond;
    opacity: 0.9;
}
a{
    color: blue;
    border:solid 4px rgb(255,60,100);
    display: inline-block;
    font-size: 24px;
    color: rgb(255,60,100);
}
h1{
    background-color: salmon;
    color:black;
}